#app-wrapper
  #app
    #weather
  #welcome-container
    #date-time
      h2#date.date
      h3#time.time
    #greeting-content
      h1#greeting
    #daily-navigation
      nav
        ul
          li
            a(target="_blank" href="https://www.payclock.com/login?ReturnUrl=%2f")
              img(src="https://github.com/atloomer/various/blob/master/clock-in-icon-01.png?raw=true", alt="clock icon")
              | Clock In
          li
            a(target="_blank" href="https://trello.com/b/H1MFD9yL/legwork-marketing-design") 
              img(src="https://github.com/atloomer/various/blob/master/trello-icon-01.png?raw=true", alt="trello icon")
              | Task Management
          li
            a(target="_blank" href="https://www.legworkprm.com/") 
              img(src="https://github.com/atloomer/various/blob/master/legwork-icon-01.png?raw=true", alt="legwork icon")
              | Legwork Site
          li
            a(target="_blank" href="https://codepen.io/") 
              img(src="https://github.com/atloomer/various/blob/master/codepen-icon-01.png?raw=true", alt="codepen icon")
              | Codepen